.slider-img-container {
    height: 620px;
    overflow: hidden;
    position: relative;
}
.slider-main-component h1 {
    font-size:clamp(2.5rem, 3.5vw, 3rem);
    line-height: 62px;
}
.slider-main-component p {
    line-height: 42px;
    font-size: 24px;
}
.slider-img-container  {
   object-fit: contain; /* or 'contain' */
  object-position: center;
   aspect-ratio: 16 / 9;
}
.slider-main-component {
    background: linear-gradient(#20544a, #99c184);
    color: white;
}
@media only screen and (max-width: 600px) {
 .carousel-mobile {
    display: none;
}
}
