.slider-img-container {
    height: auto;
    overflow: hidden;
}
.slider-main-component h1 {
    font-size:clamp(2.5rem, 3.5vw, 3rem);
    line-height: 62px;
}
.slider-main-component p {
    line-height: 42px;
    font-size: 24px;
}
.slider-img-container img {
    max-height: 620px;
    width: 100%;
}
.slider-main-component {
    background: linear-gradient(#20544a, #99c184);
    color: white;
}
@media only screen and (max-width: 600px) {
 .carousel-mobile {
    display: none;
}
}
