.whatsapp-btn a {
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 32px;
}

@media only screen and (max-width: 600px) {
.whatsapp-btn {
    display: flex;
    flex-direction: row;
}
.whatsapp-btn svg{
    width: 72px;
}
}
